<div>
    <h2>Populate the database</h2>
    <h4>(mongodb and elasticsearch)</h4>
    <div ng-if="main.vars.siteMessage" ng-class="main.vars.siteMessageClass">
        <p>{{ main.vars.siteMessage }}</p>
    </div>
    <div>
        <p>
            This will fire a function in our "main controller" that
            will populate the database with some start data.  The more
            your press this button the more records you will have to test with.
        </p>
        <i>Just to get test data in to our project.</i> <br> <hr>
        <div class="row-fluid">
            <button class="btn btn-sm btn-primary" ng-click="main.addData()">Add Data</button>
        </div>
    </div>
    <div class="row-fluid">
        <h4>Current Records in our mongodb database:</h4>
        <ul>
            <li ng-repeat="item in main.foundHardwareItems">Item: <a href="/item-profile/{{ item.itemCode }}">{{ item.productName }}</a></li>
        </ul>
    </div>
</div>
