<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Example Hardware Store Search
            </a>
        </div>
        <nav ng-if="!nav.vars.loggedIn" class="collapse navbar-collapse navbar-public"
             id="js-navbar-collapse">
            <ul class="nav navbar-nav main-site-ul">
                <li ng-repeat="item in nav.mainMenu"
                   ui-sref-active="active">
                   <a ui-sref="{{item.link}}">{{item.title}}</a>
                </li>

                <!-- <li ui-sref-active="active">
                   <a ng-click="nav.logOutUser()" href="#">Log out</a>
                </li> -->
            </ul>
        </nav>
    </div>
</div>
