<form ng-submit="main.loginUser(user)">
    <div class="form-group">
        <h3>Log In</h3>
    </div>
    <div class="form-group">
      <input type="text"
              class="form-control"
              placeholder="Username"
              ng-model="user.username" />
    </div>
    <div class="form-group">
      <input type="password"
              class="form-control"
              placeholder="Password"
              ng-model="user.password" />
    </div>
    <div ng-show="main.vars.errorMessage" class="alert alert-danger">{{ main.vars.errorMessage }}</div>
    <button class="btn btn-primary btn-lg btn-block -blue-button">Log In</button>
</form>
