<form class="input-group search-form-block">
    <i>City and state locations: "Atlanta, GA", "Hollywood, CA", "Bristol, IN"</i>
    <div class="form-group">
        <label>City</label>
        <select class="form-control"
                ng-model="search.vars.search.city">
            <option value="atlanta">Atlanta</option>
            <option value="hollywood">Hollywood</option>
            <option value="bristol">Bristol</option>
        </select>
        <br>
        <label>State</label>
        <select class="form-control"
                ng-model="search.vars.search.state">
            <option value="ga">GA</option>
            <option value="ca">CA</option>
            <option value="IN">IN</option>
        </select>
    </div>
    <hr>
    <div class="form-group">
        <br> <br>
        <input ng-keyup="search.getSearchResults($event, search.vars.search)"
               ng-model="search.vars.search.searchTerm"
               class="form-control"
               type="text"
               placeholder="Hardware Search">
    </div>
</form>
<article>
    <hr>
    <h3>Search Results:</h3>
    <h4 ng-if="search.vars.searchedTerm">"{{ search.vars.searchedTerm }}"</h4>
    <p ng-if="search.noReslutsMessage">{{ search.noReslutsMessage }}</p>
    <ul>
        <li ng-repeat="item in search.returnedSearch">
            <div class="lower-item-result-block">
                <a class="title-span" href="/item-profile/{{ item.itemCode }}" target="_blank">{{ item.productName }}</a>
                <div class="results-city-and-state">
                    <span>{{ item.city }},</span>
                    <span>{{ item.state }}</span>
                </div>
                <span class="results-description">{{ item.productDescription | cut:true:75:' ...' }}</span>
            </div>
        </li>
    </ul>
</article>
