<form class="login-form" ng-submit="signup.signupUser(user)">
    <div class="form-group">
        <h3>Sign Up</h3>
    </div>
    <div class="form-group">
        <input type="text" class="form-control login-field" placeholder="First Name"
          ng-model="user.firstname"/>
        <label class="login-field-icon fui-user" for="first-name"></label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control login-field" placeholder="Last Name"
          ng-model="user.lastname" />
        <label class="login-field-icon fui-user" for="last-name"></label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control login-field" placeholder="Username"
          ng-model="user.username" />
        <label class="login-field-icon fui-user" for="username"></label>
    </div>
    <div class="form-group">
        <input type="password" class="form-control login-field" placeholder="Password"
          ng-model="user.password" />
        <label class="login-field-icon fui-lock" for="password"></label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control login-field" placeholder="Email"
          ng-model="user.email" />
        <label class="login-field-icon fui-user" for="email"></label>
    </div>
    <div ng-show="signup.vars.errorMessage" class="alert alert-danger">{{ signup.vars.errorMessage }}</div>
    <div ng-show="signup.signupSuccess" class="alert alert-success">{{ signup.signupSuccess }}</div>
    <button class="btn btn-primary btn-lg btn-block" href="#">Sign Up</button>
</form>
